In [2]:
# Reading data from CSV files using pandas

import pandas as pd

def readCSVData(filePath):
    return pd.read_csv(filePath)
    
    
filePath = "DataFiles/Income.csv"

readCSVData(filePath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [36]:
# Function for finding avareage of states income of all years

def getStateIncome(df, state):
    records = df.values
    keys = list(df.head(0))[2:]
    state_population = {}
    for index in range(len(records)):
        if(records[index][1]== state):
            pop = list(records[index][2:])
    for index in range(len(keys)):
        state_population[keys[index]] = pop[index]
    return state_population


def averageIncome(df):
    records = df.values
    allStatesPopulation = [] # empty list
    count = 0
    s = 0
    for index in range(len(records)):
        state = records[index][1]
        populationOfState = getStatePopulation(df, state)
        allStatesPopulation.append(populationOfState)
    #return allStatesPopulation

    for state in allStatesPopulation:
        s += sum(state.values())
        count += len(state.values())
    
    return "Average Income :"+str(s//count)
            
        
    

incomedf = readCSVData(filePath)
    
averageIncome(incomedf)

'Average Income :48525'

In [35]:
# State with highest average income in last three years

def highestAverageIncomeInLastThreeYears(df):
    records = df.values
    incomeLastThreeYears = {} # empty list
    averageIncomes = []
    
    for row in records:
        incomeLastThreeYears[row[1]] = row[-3:]
        
    for state in incomeLastThreeYears.items():
        s = 0
        count = 0
        s += sum(state[1])
        count += len(state[1])
        averageIncomes.append(s//count)
    highestAverageState  = ""
    for item in incomeLastThreeYears.items():
        if(sum(item[1])//len(item[1]) == max()):
            highestAverageState = highestAverageState + item[0]
            
    return "Highest Average Income Of Last Three Years: "+str(max(averageIncomes))
        
        
            
    

incomedf = readCSVData(filePath)
highestAverageIncomeInLastThreeYears(incomedf)

'Average Income Of Last Three Years: 60738'

In [29]:
li = [1,2,3,4,5,6]
li[-3:]

[4, 5, 6]